@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lê Thánh</h1>
    <p><strong>Mã số sinh viên:</strong> 2200007265</p>
    <p><strong>Ngày sinh:</strong> 03/09/2004</p>
    <p><strong>Email:</strong> thanhhihi765@gmail.com</p>
    <p><strong>Sở thích:</strong> Cờ Vua, TFT</p
    
</div>
